{% extends "base.html" %}

{% block meta_tag %}
	<meta name="description" content="" />
	<meta name="keywords" content="classical, jazz, rock, Oberlin Conservatory, Percussion, San Francisco Conservatory, principal percussionist, Napa Symphony, Sacramento Philharmonic, Stockton Symphony, California Pops Orchestra, timpanist,  Golden Gate Park Band, theater percussionist, teaching drum, San Francisco Drum, Percussion Studio, Meolloer, freestroke technique, timpani, San Francisco drum school" />
	<title>David Dieni - Biography</title>
{% endblock %}

{% block url %}
<ul>			
		<li id="">
			<a href="/home">Home</a>
		</li>	
		<li>
			<a href="">About</a>				
			<ul>
				<li><a href="/bio">Bio</a></li>
				<li><a href="/resume">Resume</a></li>					
			</ul>
		</li>	
		<li>
			<a href="">Video</a>
			<ul>
				<li><a href="/performance">Performance</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/recording">Recording</a></li>
				<!-- <li><a href="/product_review">Product_review</a></li> -->
			</ul>
		</li>	
		<li><a href="/photo">Photo</a></li>
		<!-- <li>
			<a href="">Lesson</a>
			<ul>
				<li><a href="/general">General</a></li>
				<li><a href="/online">Online</a></li>
			</ul>
		</li>	 -->
		<li>
			<a href="">Web Share</a>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/testimonial">Testimonial</a></li>
			</ul>
		</li>					
		<li>
			<a href="/publication">Publication</a>
		</li>			
		<li>
			<a href="/contact">Contact</a>	
		</li>	
	</ul>
{% endblock %}	
	
{% block aside_content %}	
	<h1><p>Oops!!!</p></h1>
{% endblock %}

{% block main_content %}
	<h1><p> Sorry, but the requested page could not be found. </p></h1>
{% endblock %}