{% extends "base.html" %}

<!-- Beginning of meta tag -->
{% block meta_tag %}
	<meta name="description" content="Blog of David Dieni: drummer, percussionist, teacher and owner of the SF Drum School. Latest drum shows/performances. " />
	<meta name="keywords" content="David Dieni, drummer, percussionist, drum teacher, sf drum school, drums shows, David Dieni blog, San Francisco drum school" />
	<title>David Dieni - Blog</title>
{% endblock %}
<!-- End of mata tag -->

<!-- Beginning of navigation -->
{% block url %}
<ul>			
		<li>
			<a href="/index">Home</a>
		</li>	
		<li>
			<a href="">About</a>				
			<ul>
				<li><a href="/bio">Bio</a></li>
				<li><a href="/resume">Resume</a></li>					
			</ul>
		</li>	
		<li>
			<li>
				<a href="">Video</a>
				<ul>
					<li><a href="/performance">Performance</a></li>
					<li><a href="/teaching">Teaching</a></li>
					<li><a href="/recording">Recording</a></li>
					<!-- <li><a href="/product_review">Product_review</a></li> -->
				</ul>
			</li>	
			<li><a href="/photo">Photo</a></li>
			<li><a href="/store">Store</a></li>
		<!-- <li>
			<a href="">Lesson</a>
			<ul>
				<li><a href="/general">General</a></li>
				<li><a href="/online">Online</a></li>
			</ul>
		</li>	 -->
		<li>
			<a href="post">Web Share</a>
			<ul>
				<li id="blog"><a href="">Blog</a></li>
				<li><a href="/testimonial">Testimonial</a></li>
			</ul>
		</li>					
		<li>
			<a href="/publication">Publication</a>
		</li>			
		<li>
			<a href="/contact">Contact</a>	
		</li>	
	</ul>
{% endblock %}	
<!-- End of navigation -->

<!-- Beginning of left content -->
{% block aside_content %}
<div class="blog">
	<img src="/../../../media/images/WelcomeToMYBlog.png" title="Welcome to my blog!" /><br>
	<p class="line-height">
		Please periodically check in as I will post upcoming shows, new drum tricks, or my new finds! 
	</p>
</div>
{% endblock %}
<!-- End of left content -->

<!-- Beginning of right content -->
{% block main_content %}
<div class="blog">
	<p></p>
	{% if blogs %}
		<ul>
			{% for blog in blogs %}
				<b id="title">{{ blog.title }}</b>
				<li class="shadow2">{{ blog.message }}</li>
				<div id="posted">{{ blog.date }}</div>
				<!-- <li><a href="{{ blog.get_absolute_url }}">{{ blog.name }}</a></li> -->
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no blogs.</p>
	{% endif %}
</div>
{% endblock %}
<!-- End of right content -->