{% extends "base.html" %}

{% block meta_tag %}
	<meta name="description" content="Unlock your drumming potential and accelerate your playing at David Dieni's SF Drum School. Experience the power, speed and control of natural drumming with the freestroke and Moeller techniques. The Stone-Moeller system provides a tension free method of drumming based on natural motions." />
	<meta name="keywords" content="David Dien, San Francisco Drum School, Bay Area Drumming, Northern California Drum, California Drum,natural drumming, experienced drummer, drum school, drumming school, sf drumming school, drumming for kids, drumming for adults, drum lessons, drum set lessons, children drum lessons, kid drum lessons, marimba lessons, timpani lessons, beginner lessons, advanced lessons, drum sessions, drum set, Marimba, Snare Drum, Timpani Percussion, Classical Percussion, free stroke technique, drum rudiments, tension free drumming" />
	<title>David Dieni: Drum Set - Percussion Teacher</title>
{% endblock %}

{% block google_tracking %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35494452-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}

{% block url %}
<ul>			
		<li id="index">
			<a href="">Home</a>
		</li>	
		<li>
			<a href="">About</a>				
			<ul>
				<li><a href="/bio">Bio</a></li>
				<li><a href="/resume">Resume</a></li>					
			</ul>
		</li>	
		<li>
			<a href="">Video</a>
			<ul>
				<li><a href="/performance">Performance</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/recording">Recording</a></li>
				<!-- <li><a href="/product_review">Product_review</a></li> -->
			</ul>
		</li>	
		<li><a href="/photo">Photo</a></li>
		<li><a href="/store">Store</a></li>
		<!-- <li>
			<a href="">Lesson</a>
			<ul>
				<li><a href="/general">General</a></li>
				<li><a href="/online">Online</a></li>
			</ul>
		</li>	 -->
		<li>
			<a href="">Web Share</a>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/testimonial">Testimonial</a></li>
			</ul>
		</li>					
		<li>
			<a href="/publication">Publication</a>
		</li>			
		<li>
			<a href="/contact">Contact</a>	
		</li>	
	</ul>
{% endblock %}	
	
{% block aside_content %}
<div class="sfDrumSchool">
	<p id="drumming">
			<img src="http://daviddieni.com/media/images/NaturalDrumming.png" title="Unlock Your Potential, Accelerate Your Playing with the Power, Speed and Control of Natural Drumming!"/><br><br>
Are you an experienced drummer hitting the wall?<br>               Enduring discomfort or pain because of bad habits?<br>                       Maybe your child is a budding drummer- with pots and pans!<br>                Or you've long nurtured a dream…
	</p>

	<ul>	
		<b>Some of the things we’ll cover:</b> <br><br>
		<li>Developing a loose grip and stable fulcrum.</li>
		<li>Using natural stick rebound to achieve effortless playing.</li>
		<li>Understanding the five hinges of drumming and how to use them.</li>
		<li>Free stroke Technique- the secret to relaxed control and speed. </li>
		<li>Moeller Technique- the key to power and blazing speed. </li>
		<li>Open hand playing- greater freedom with no more crossed arms. </li>
		<li>Coordinating the limbs into a relaxed, balanced whole. </li>
		<li>Reading music without sacrificing a relaxed approach to playing. </li>
		<li>Developing good time.</li>
		<li>Learning songs from your favorite bands.</li>
		<li>Balancing everything in a seamless whole whether it’s a drum set groove or Bach on marimba.</li>
	</ul>

	<p id="the_result"><b>THE RESULT?</b><br><br> <b id="result">SPEED, POWER, CONTROL AND A LIFETIME OF DRUMMING ENJOYMENT!</b></p> 
	
	
</div>	
{% endblock %}

{% block main_content %}
<div class="sfDrumSchool">
	<p id="lessons">
		<b>Whatever your prior experience or situation, I can help!</b><br><br>
		
At SF Drum School I teach students of all ages and backgrounds: children to adults, beginners to advanced. I have over twenty-five years professional experience encompassing rock, classical, theater, jazz and everything in-between.<br><br>
Teaching for me is sharing my love of drums with my students. With that in mind, I strive to make learning fun and full of the excitement of discovery! I encourage questions and making mistakes as you learn. Why? Because playing an instrument is one of the most rewarding experiences you’ll ever have!<br><br><br>
<b>Whatever your interest</b><br><br>
Drum Set, Marimba, Snare Drum, Timpani or all the Classical Percussion, I offer lessons tailored to you or your child’s specific needs.<br><br>
The drums are an instrument independent of style- there's a foundational technique regardless of the music you play. This technique is best exemplified by the Stone-Moeller system, a tension free way to play based on natural motions.
	</p>
	
	<div id="more_focus">
		<hr class="red_line">
		<p id="rate">
		You need only a pair of sticks and a practice pad to get started. Once you own the fundamentals, you'll have the ability to venture in any musical style you desire!<br><br>
		I offer reasonable rates for 60, 45 or 30 minute lessons. And did I say I do my best to make it all fun?
		</p>
	</div>
</div>
{% endblock %}

<!-- {% block extra_content_left %}
<div class="sfDrumSchool">
	<p><img src="http://daviddieni.com/media/images/MyStudioKit_s.png"></p>
	<ul>	
		<b>Some of the things we’ll cover:</b> <br><br>
		<li>Developing a loose grip and stable fulcrum.</li>
		<li>Using natural stick rebound to achieve effortless playing.</li>
		<li>Understanding the five hinges of drumming and how to use them.</li>
		<li>Free stroke Technique- the secret to relaxed control and speed. </li>
		<li>Moeller Technique- the key to power and blazing speed. </li>
		<li>Open hand playing- greater freedom with no more crossed arms. </li>
		<li>Coordinating the limbs into a relaxed, balanced whole. </li>
		<li>Reading music without sacrificing a relaxed approach to playing. </li>
		<li>Developing good time.</li>
		<li>Learning songs from your favorite bands.</li>
		<li>Balancing everything in a seamless whole whether it’s a drum set groove or Bach on marimba.</li>
	</ul>

	<p><b>THE RESULT?</b><br><br> <b  id="theResult">SPEED, POWER, CONTROL AND A LIFETIME OF DRUMMING ENJOYMENT!</b></p> 

</div>
{% endblock %} -->

<!-- {% block extra_content_right %}
<div class="sfDrumSchool">
	<article id="more_focus">
		<p id="rate">
		You need only a pair of sticks and a practice pad to get started. Once you own the fundamentals, you'll have the ability to venture in any musical style you desire!<br>http://daviddieni.com
		I offer reasonable rates for 60, 45 or 30 minute lessons. And did I say I do my best to make it all fun?
		</p>
	</article>
</div>	
<div class="clear"></div>
{% endblock %} -->
