{% extends "base.html" %}

<!-- Beginning of meta tag -->
{% block meta_tag %}
	<meta name="description" content="Videos of David Dieni: drummer, percussionist, teacher and owner of the SF Drum School. Performing Xylophonia. Conducting the percussion ensemble at the San Francisco School of the Arts. " />
	<meta name="keywords" content="David Dieni, drummer, percussionist, drum teacher, sf drum school, San Francisco drum school, xylophonia, San Francisco School of the Arts (SOTA), Percussion Ensemble" />
	<title>David Dieni - Performance</title>
{% endblock %}
<!-- End of meta tag -->

<!-- Beginning of navigation -->
{% block url %}
<ul>			
		<li>
			<a href="/index">Home</a>
		</li>	
		<li>
			<a href="">About</a>				
			<ul>
				<li><a href="/bio">Bio</a></li>
				<li><a href="/resume">Resume</a></li>					
			</ul>
		</li>	
		<li>
			<a href="">Video</a>
			<ul>
				<li id="performance"><a href="/performance">Performance</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/recording">Recording</a></li>
				<!-- <li><a href="/product_review">Product_review</a></li> -->
			</ul>
		</li>	
		<li><a href="/photo">Photo</a></li>
		<li><a href="/store">Store</a></li>
		<!-- <li>
			<a href="">Lesson</a>
			<ul>
				<li><a href="/general">General</a></li>
				<li><a href="/online">Online</a></li>
			</ul>
		</li>	 -->
		<li>
			<a href="">Web Share</a>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/testimonial">Testimonial</a></li>
			</ul>
		</li>					
		<li>
			<a href="/publication">Publication</a>
		</li>			
		<li>
			<a href="/contact">Contact</a>	
		</li>	
	</ul>
{% endblock %}	
<!-- End of navigation -->

<!-- Beginning of left content -->
{% block aside_content %}	
	<div class="video">
		<aside id="left">
			<iframe width="420" height="315" src="http://www.youtube.com/embed/HC3JrWweUtc" frameborder="0" allowfullscreen></iframe>
			<p>Performing Xylophonia at the great Fourth of July Pops with the Stockton Symphony. This novelty xylophone solo by Joe Green, brother of the more famous George Hamilton Green, is a fun romp from the 1920's.</p>
			
			<hr class="gray_line">
			
			<iframe width="420" height="236" src="//www.youtube.com/embed/4poPjYexUkI" frameborder="0" allowfullscreen></iframe>
			<p>Navigating hairy timpani pedaling in an early run through of Sunset Boulevard by Andrew Lloyd Webber.</p>
			
			<hr class="gray_line">
			
			<iframe width="420" height="236" src="//www.youtube.com/embed/VrTIQZ21mmI" frameborder="0" allowfullscreen></iframe>
			<p></p>
			
			<hr class="gray_line">
			
			<iframe width="430" height="236" src="//www.youtube.com/embed/6Isly5Uah84" frameborder="0" allowfullscreen></iframe>
			<p>Never Swat A Fly from the 1927 musical, Good News. The roaring 20's, college football and young love were never so much fun! Opening the same year as Show Boat, Good News was a Broadway hit.</p>
			
			<hr class="gray_line">
			
			<iframe width="420" height="236" src="//www.youtube.com/embed/uSv2CHnB9hs" frameborder="0" allowfullscreen></iframe>
			<p>Varsity Drag from the 1927 musical, Good News. The roaring 20's, college football and young love were never so much fun! Opening the same year as Show Boat, Good News was a Broadway hit.
			Oops - too many page turns in this nonstop tune - I lost my stick at the end!</p>
			
			<hr class="gray_line">
			
			<iframe width="420" height="236" src="//www.youtube.com/embed/sVAOsOy1jcA" frameborder="0" allowfullscreen></iframe>
			<p>Excerpt of the opening Overture from the 1927 musical, Good News. The roaring 20's, college football and young love were never so much fun! Opening the same year as Show Boat, Good News was a Broadway hit.</p>
			
		</aside>
	</div>
{% endblock %}	
<!-- End of left content -->

<!-- Beginning of right content -->
{% block main_content %}
<div class="video">
	<aside id="right">
			<iframe width="420" height="315" src="//www.youtube.com/embed/d-g7MWCNSNc" frameborder="0" allowfullscreen></iframe>
			<p>I had tons of fun drumming for Transcendence Theatre Company's Broadway Under The Stars- a summer of outdoor shows in Northern California wine country. In this selection, Anneliese van der Pol sings Colors of the Wind from Pocahontas. Drumming just off stage right, I had the best seat in the vineyard!</p>
			<hr class="red_line">
			
			<iframe width="420" height="315" src="//www.youtube.com/embed/PfOA2hc4tZ4" frameborder="0" allowfullscreen></iframe>
			<p>I had tons of fun drumming for Transcendence Theatre Company's Broadway Under The Stars- a summer of outdoor shows in Northern California wine country. In this selection, Nicolas Dromard sings I'll Jump. Drumming just off stage right, I had the best seat in the vineyard!</p>
			<hr class="red_line">
			
			<iframe width="420" height="236" src="//www.youtube.com/embed/bgYb49SWpWU" frameborder="0" allowfullscreen></iframe>
			<p></p>
			
	</aside>
</div>
{% endblock %}	
<!-- End of right content -->