{% extends "base.html" %}

<!-- Beginning of meta tag -->
{% block meta_tag %}
	<meta name="description" content="Photos of David Dieni: drummer, percussionist, teacher and owner of the SF Drum School. " />
	<meta name="keywords" content="David Dieni, drummer, percussionist, drum teacher, sf drum school, San Francisco drum school" />
	<title>David Dieni - Photos</title>
{% endblock %}
<!-- End of meta tag -->

<!-- Beginning of navigation -->
{% block url %}
	<ul>			
		<li>
			<a href="/index">Home</a>
		</li>	
		<li>
			<a href="">About</a>				
			<ul>
				<li><a href="/bio">Bio</a></li>
				<li><a href="/resume">Resume</a></li>					
			</ul>
		</li>		
		<li>
			<a href="">Video</a>
			<ul>
				<li><a href="/performance">Performance</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/recording">Recording</a></li>
				<!-- <li><a href="/product_review">Product_review</a></li> -->
			</ul>
		</li>	
		<li id="photo"><a href="/photo">Photo</a></li>
		<li><a href="/store">Store</a></li>
		<!-- <li>
			<a href="">Lesson</a>
			<ul>
				<li><a href="/general">General</a></li>
				<li><a href="/online">Online</a></li>
			</ul>
		</li>	 -->
		<li>
			<a href="">Web Share</a>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/testimonial">Testimonial</a></li>
			</ul>
		</li>					
		<li>
			<a href="/publication">Publication</a>
		</li>			
		<li>
			<a href="/contact">Contact</a>	
		</li>	
	</ul>
{% endblock %}	
<!-- End of navigation -->

<!-- Beginning of left content -->
{% block aside_content %}
<div class="photo">
	<div id="description">
	<p>These photos are from various events: onstage and backstage.</p>
</div>	
{% endblock %}
<!-- End of left content -->

<!-- Beginning of right content -->
{% block main_content %}
<!-- Beginning of professional photo album -->
<div class="photo">
<section id="photo_pro">
	<h3 class="h3">Professional</h3>
	<div>
	<a href="/../../../media/images/photoGallery/David1.png" title="The Pit For Evita" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/David1.png" /></a>
	<a href="/../../../media/images/photoGallery/Evita.png" title="Evita" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/Evita.png" /></a>
	<a href="/../../../media/images/photoGallery/David2.png" title="La Cage Set Up" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/David2.png" /></a>
	<a href="/../../../media/images/photoGallery/David3.png" title="Jacques Brel Set Up" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/David3.png" /></a>
	<a href="/../../../media/images/photoGallery/David4.png" title="my caption" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/David4.png" /></a>
	<a href="/../../../media/images/photoGallery/David5.png" title="Me and Carol Channing" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/David5.png" /></a>
	<a href="/../../../media/images/photoGallery/GayneSabreDancelr.png" title="High Fiving The Conductor" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/GayneSabreDancelr.png" /></a>
	<a href="/../../../media/images/photoGallery/MeAndChoirDirector.png" title="Me And The Choir Director" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/MeAndChoirDirector.png" /></a>
	<a href="/../../../media/images/photoGallery/ChristmasTimpani.png" title="Christmas Timpani and a Pineapple" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/ChristmasTimpani.png" /></a>	
	<a href="/../../../media/images/photoGallery/July4thPops.png" title="July 4th Pops" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/July4thPops.png" /></a>	
	<a href="/../../../media/images/photoGallery/GGPBand1.png" title="The Golden Gate Band" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/GGPBand1.png" /></a>
	<a href="/../../../media/images/photoGallery/GGPBand2.png" title="Welcome To The Golden Gate Band" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/GGPBand2.png" /></a>
	<a href="/../../../media/images/photoGallery/July4thConcert.png" title="The Big July 4th Concert" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/July4thConcert.png" /></a>
	<a href="/../../../media/images/photoGallery/LikeDrumming.png" title="I Like Drumming!" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/LikeDrumming.png" /></a>
	<a href="/../../../media/images/photoGallery/CarminaBurana1.png" title="Carmina Burana 1" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/CarminaBurana1.png" /></a>
	<a href="/../../../media/images/photoGallery/CarminaBurana2.png" title="Carmina Burana 2" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/CarminaBurana2.png" /></a>	
	<a href="/../../../media/images/photoGallery/DavidTeaching.png" title="Student Lesson" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/DavidTeaching.png" /></a>
	<a href="/../../../media/images/photoGallery/OnstageAtSpringAwakening.png" title="On Stage	At Spring Awakening" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/OnstageAtSpringAwakening.png" /></a>
	<a href="/../../../media/images/photoGallery/XylophoneSoloStocktonSymphony.png" title="Xylophone Solo With Stockton" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/XylophoneSoloStocktonSymphony.png" /></a>
	<a href="/../../../media/images/photoGallery/BarMitzvahGig.png" title="Just Another Bar Mitzvah Gig" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/BarMitzvahGig.png" /></a>
	<a href="/../../../media/images/photoGallery/ThinkingAboutAMoretti.png" title="I was Thinking About A Moretti" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/ThinkingAboutAMoretti.png" /></a>
	<a href="/../../../media/images/photoGallery/Pose1.png" title="Pose 1" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/Pose1.png" /></a>
	<a href="/../../../media/images/photoGallery/IntoTheWoods.png" title="Up In The Loft For Into The Woods" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/IntoTheWoods.png" /></a>
	<a href="/../../../media/images/photoGallery/MyNewMarkTree.png" title="My New Mark Tree" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/MyNewMarkTree.png" /></a>
	<a href="/../../../media/images/photoGallery/FromBehind.png" title="From Behind" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/FromBehind.png" /></a>
	<a href="/../../../media/images/photoGallery/RecordingLAvventura.png" title="Recording Fow L'Avventura" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/RecordingLAvventura.png" /></a>
	<a href="/../../../media/images/photoGallery/RehearsingHunchback.png" title="Rehearsing Hunchback Of Notre Dame" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/RehearsingHunchback.png" /></a>
	<a href="/../../../media/images/photoGallery/HunchbackRehearsal.png" title="Dress Rehearsal For Hunchback" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/HunchbackRehearsal.png" /></a>
	<a href="/../../../media/images/photoGallery/PrettyGoat.png" title="I Never Saw The Pretty Goat" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/PrettyGoat.png" /></a>
	<a href="/../../../media/images/photoGallery/MyCoolPose.png" title="The Cool Pose" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/MyCoolPose.png" /></a>
	<a href="/../../../media/images/photoGallery/MyStudent.png" title="Teaching to my young student." rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/MyStudent.png" /></a>
	<a href="/../../../media/images/photoGallery/MyStudent2.png" title="Drumming learning with young student." rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/MyStudent2.png" /></a>
	</div>
</section>
<!-- End of professional photo album -->

<!-- Beginning of personal photo album -->
<section id="photo_per">
	<h3 class="h3">Personal</h3>
	<div>
	<a href="/../../../media/images/photoGallery/TheHunchbackCrew.png" title="The Hunchback Crew" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/TheHunchbackCrew.png" /></a>
	<a href="/../../../media/images/photoGallery/IMG_0227-copy-2.png" title="my caption" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/IMG_0227-copy-2.png" /></a>
	<a href="/../../../media/images/photoGallery/HuggingTheStar.png" title="Hugging The Star By The Ice Machine" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/HuggingTheStar.png" /></a>
	<a href="/../../../media/images/photoGallery/AfterDrumWorldClinic.png" title="After a Drum World Clinic" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/AfterDrumWorldClinic.png" /></a>
	<a href="/../../../media/images/photoGallery/Cabaret.png" title="Where There's Cabaret There's Hats" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/Cabaret.png" /></a>
	<a href="/../../../media/images/photoGallery/MendocinoMusicFestival.png" title="Backstage At Mendocino Music Festival" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/MendocinoMusicFestival.png" /></a>	
	<a href="/../../../media/images/photoGallery/ProDrumShop.png" title="Pro Drum Shop" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/ProDrumShop.png" /></a>
	<a href="/../../../media/images/photoGallery/InHeaven.png" title="In Heaven" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/InHeaven.png" /></a>	
	<a href="/../../../media/images/photoGallery/StudioKit.png" title="My Studio Kit" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/StudioKit.png" /></a>
	<a href="/../../../media/images/photoGallery/DavidDrum.png" title="Low A - the Sweetest Note" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/DavidDrum.png" /></a>
	<a href="/../../../media/images/photoGallery/Pose2.png" title="Pose 2" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/Pose2.png" /></a>	
	<a href="/../../../media/images/photoGallery/GreenRoomIssues.png" title="Dealing With Issues In The Green Room" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/GreenRoomIssues.png" /></a>
	<a href="/../../../media/images/photoGallery/CabaretAndBadDrag.png" title="Cabaret and Bad Drag" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/CabaretAndBadDrag.png" /></a>	
	<a href="/../../../media/images/photoGallery/SpringAwakeningSongTitle.png" title="A Great Sone Title From Spring Awakening" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/SpringAwakeningSongTitle.png" /></a>
	<a href="/../../../media/images/photoGallery/LaCage.png" title="La Cage" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/LaCage.png" /></a>	
	<a href="/../../../media/images/photoGallery/ThisAintNoLitterFox.png" title="This Ain't No Little Fox" rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/ThisAintNoLitterFox.png" /></a>
		<a href="/../../../media/images/photoGallery/HangingOutWithCat.png" title="Hanging Out With a Real Cat." rel="lightbox[roadtrip]"><img id="src" src="/../../../media/images/photoGallery/thumb/HangingOutWithCat.png" /></a>
		</div>		
</section>	
</div>
{% endblock %}
<!-- End of professional photo album -->