{% extends "base.html" %}

<!-- Beginning of meta tag -->
{% block meta_tag %}
	<meta name="description" content="Resume of David Dieni: drummer, percussionist, teacher and owner of the SF Drum School." />
	<meta name="keywords" content="SF Drum School, Instruction on Drum Set, Classical Percussion, San Francisco High School of the Arts (SOTA), Percussion Teacher, Percussion Quartet, Educational Concerts, Bay Area Drum Schools, Northern California Music & Art Culture Center, Drum Set Teacher, San Francisco Conservatory, Masters in Percussion, Oberlin Conservatory, Principal Percussion, Marimba Soloist, San Francisco Symphony, Master of the Stone-Moeller System of Drumming, Timpanist , Philadelphia Orchestra, Metropolitan Opera, Master Jazz Drummer, Mallet Teacher,San Francisco drum school" />
	<title>David Dieni - Resume</title>
{% endblock %}
<!-- End of meta tag -->

<!-- Beginning of navigation -->
{% block url %}
	<ul>			
		<li>
			<a href="/index">Home</a>
		</li>	
		<li>
			<a href="">About</a>				
			<ul>
				<li><a href="/bio">Bio</a></li>
				<li id="resume"><a href="">Resume</a></li>					
			</ul>
		</li>	
		<li>
			<a href="">Video</a>
			<ul>
				<li><a href="/performance">Performance</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/recording">Recording</a></li>
				<!-- <li><a href="/product_review">Product_review</a></li> -->
			</ul>
		</li>	
		<li><a href="/photo">Photo</a></li>
		<li><a href="/store">Store</a></li>
		<!-- <li>
			<a href="">Lesson</a>
			<ul>
				<li><a href="/general">General</a></li>
				<li><a href="/online">Online</a></li>
			</ul>
		</li>	 -->
		<li>
			<a href="">Web Share</a>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/testimonial">Testimonial</a></li>
			</ul>
		</li>					
		<li>
			<a href="/publication">Publication</a>
		</li>			
		<li>
			<a href="/contact">Contact</a>	
		</li>	
	</ul>
{% endblock %}
<!-- End of navigation -->

<!-- Beginning of left content -->
{% block aside_content %}	
<div class="resume">
	<div class="left">
		<ul id="theater">
			<b>THEATER - SELECTIONS</b><br><br>
				<li><b id="theater_s">Transcendence Theatre Company</b> - Mark Gasbarro, Music Dir.
					<br>Summer Broadway Festival in Jack London State Park - <b id="role">Drums</b></li>				
				<li><b id="theater_s">Broadway By The Bay</b> - Til Tribuzi, Music Director
					<br>La Cage Aux Folles - <b id="role">Percussion &amp; Mallets</b></li>
				<li><b id="theater_s">Contra Costa Musical Theatre</b> - Karl Pister, Music Director
					<br>Sunset Boulevard, Evita</b> - <b id="role">Percussion &amp; Mallets</b></li>
				<li><b id="theater_s">Pacific Coast Repertory Theatre</b> - Pat Parr, Music Director
					<br>Joseph &amp; the Amazing Technicolor Dream Coat - <b id="role">Drums</b></li>
				<li><b id="theater_s">Marin Theatre Company</b> - Steve Sanders, Music Director
					<br>Jacques Brel is Alive and Well - <b id="role">Drums</b></li>
				<li><b id="theater_s">California Cabaret</b> - Greg Zema, Music Director
					<br>Ruthless the Musical - <b id="role">Drums</b></li>
				<li><b id="theater_s">Crossroads Theatre</b> - Matt Smart, Music Director
					<br>Into The Woods - <b id="role">Percussion &amp; Mallets</b></li>
				<li><b id="theater_s">Berkeley Repertory Theater</b> - Tony Taccone, Director
					<br>Caucasian Chalk Circle - <b id="role">Drums</b></li>
				<li><b id="theater_s">City College of SF</b> - Michael Shahani, Music Director
					<br>Drummer for Theater Department 
					<br>Partial - Westside Story, Songs for a New World, Godspell </b></li>
				<li><b id="theater_s">Musical Theatre Works</b> - Carolyn Miller, Director
					<br>Grease, Music Man, High School Musical - <b id="role">Drums</b></li>
				<li><b id="theater_s">George Coates Performance Works</b> - George Coates, Director
					<br>Desert Music (Based On Steve Reich’s Music) - <b id="role">Marimba </b></li>
			</ul>

		<br><br>
		<ul id="symphony">
			<b>SYMPHONY/ENSEMBLES - SELECTIONS</b><br><br>
				<li><b id="symphony_s">California Pops Orchestra</b> - <b id="role">Percussion</b></li>
				<li><b id="symphony_s">Golden Gate Park Band</b> - <b id="role">Timpani</b></li>
				<li><b id="symphony_s">Sacramento Philharmonic</b> - <b id="role">Associate Principal (7 Years)</b></li>
				<li><b id="symphony_s">Stockton Symphony</b> - <b id="role">Second Percussion (7 Years)</b></li>
				<li><b id="symphony_s">Napa Symphony</b> - <b id="role">Principal Percussion (2 years)</b></li>
				<li><b id="symphony_s">Mendocino Music Festival</b> - <b id="role">Second Percussion (10 Years)</b></li> 
				<li><b id="symphony_s">Berkshire Choral Festival, Springfield Symphony (MA)</b> - <b id="role">Percussion (15 Years)</b></li>
				<li><b id="symphony_s">Pavarotti World Tour Orchestra</b> - <b id="role">Principal Percussion</b></li>
				<li><b id="symphony_s">Skywalker Sound Studio Orchestra</b> - <b id="role">Percussion</b></li>
				<li><b id="symphony_s">Golden Gate Opera, North Bay Opera, Livermore Opera</b> - <b id="role">Timpani</b></li>
			</ul>

		<br><br>
			<ul id="other">	
			<b>OTHER - SELECTIONS</b><br><br>
				<li><b id="other_s">Trio Dieni (Jazz Trio)</b> - <b id="role">Drummer</b></li>
				<li><b id="other_s">The Sprocket Ensemble</b> - <b id="role">Art Animation with Live Music 
					<br>Drummer</b></li>
				<li><b id="other_s">Palo Alto Philharmonic Concerto Competition</b> 
					<br>Finalist - <b id="role">Marimba</b>; Fantasy on Japanese Woodprints</li>
			</ul>
	</div>
</div>
{% endblock %}	
<!-- End of left content -->

<!-- Beginning of right content -->
{% block main_content %}
<div class="resume">
	<div class="right">
		<ul id="teaching" class="shadow">
		<b id="endorse">Endorsed by Vic Firth and Member of the Vic Firth Education Team</b>
		<hr class="red_line">  
		<b>TEACHING</b><br><br>
			<li><b id="teaching_s">SF Drum School</b>
				<br><b id="role">Instruction on Drum Set and all Classical Percussion</b></li>
			<li><b id="teaching_s">San Francisco High School of the Arts (SOTA) </b>
				<br><b id="role">Percussion Teacher</b></li>
			<li><b id="teaching_s">Pacific Sticks Percussion Quartet</b> 
				<br><b id="role">Educational Concerts &amp; Workshops in Bay Area Schools</b></li>
			<li><b id="teaching_s">Northern California Music &amp; Art Culture Center</b> 
				<br><b id="role">Drum Set Teacher</b></li>
		</ul>			
	  <br><br>	
	
		<ul id="education">
		<b>EDUCATION</b><br><br>
			<li><b id="education_s">San Francisco Conservatory</b> - <b id="role">Masters in Percussion
				<br>Barry Jekowsky, Ray Froelich</b></li>
			<li><b id="education_s">Oberlin Conservatory</b> - <b id="role">Bachelor of Music
				<br>Michael Rosen, Percussion &amp; Michael Daugherty, Composition</b></li>
			<li><b id="education_s">Jack Van Geem</b> - <b id="role">Principal Percussion, Marimba Soloist
			 	<br>San Francisco Symphony </b></li>
			<li><b id="education_s">Dom Famularo</b> - <b id="role">Worldwide Drum Clinician &amp; Teacher 				
				<br>Master of the Stone-Moeller System of Drumming  </b></li>
			<li><b id="education_s">Fred Hinger</b> - <b id="role">Timpanist 
				<br>Philadelphia Orchestra, Metropolitan Opera 	</b></li>			
			<li><b id="education_s">Alan Dawson</b> - <b id="role">Master Jazz Drummer </b></li>
			<li><b id="education_s">Dean Anderson</b> - <b id="role">Mallet Teacher 
				<br>Berklee College of Music </b></li>
	  <br><br>
		</ul>
		<br><br>
	
		<ul id="recordings">				
		  <b>RECORDINGS - CD</b><br><br>
			<li><b id="recordings_s">Uses of Music in Uttermost Parts</b> - Eli Armer, Ursula Le Guin	
				<br>Koch International - <b id="role">Solo Percussion</b></li>
			<li><b id="recordings_s">L’Avventura</b> - Your Star Was Shining
				<br><b id="role">Timpani</b></li>
			<li><b id="recordings_s">Carmina Burana</b> - <b id="role">Percussion
				<br>San Francisco Concert Chorale</b> - John Bush, Director</li>
			<li><b id="recordings_s">Music of Swiss Composers</b> - <b id="role">Percussion
				<br>San Francisco Sinfonietta</b> - Urs Steiner, Director</li>
		</ul>

	    <br><br>
		<ul id="publishing">				
		<b>PUBLISHING</b><br><br>
			<li><b id="publishing_s">Assisted with revision of George Stone’s Accents &amp; Rebounds</b>
				<br><b id="role">Alfred Music Publishing</b></li>
		</ul>
	</div>
</div>
{% endblock %}
<!-- End of right content -->