{% extends "base.html" %}

{% block meta_tag %}
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>David Dieni - Shows</title>
{% endblock %}

{% block url %}
	<ul id="shows">
		<li><a href="/index">home</a></li>
		<li><a href="/bio">bio</a></li>
		<li><a href="/resume">resume</a></li>
		<li id="show"><a href="">show</a></li>
		<li><a href="/photo">photo</a></li>
		<li><a href="/video">video</a></li>
		<li><a href="/blog">blog</a></li>
		<li><a href="/testimonial">testimonial</a></li>
		<li><a href="/publication">publication</a></li>
		<li><a href="/contact">contact</a></li>
	</ul>
{% endblock %}	
	
{% block left_side1 %}
	<p>Here are the shows</p>
{% endblock %}
	
{% block left_side2 %}
	<p></p>
{% endblock %}

{% block right_side %}
	<p>This is the shows page</p>
{% endblock %}